body {
    min-height: 100vh;
    background: radial-gradient(circle, rgba(2,0,36,1) 16%, rgba(9,9,121,1) 96%);
}

#view1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#view2 {
    display: flex;
    flex-direction: column;
}

#bitmoji {
    /* opacity: 0; */
}

#view2-text-parentDiv {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
    text-align: center;
}

section {
    min-height: 100vh;
    min-width: 100vw;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -100;
}

#bg {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
}

footer {
    bottom: 0;
    padding: 30px;
    font-size: 1em;
    color:  #f2ef91;
    background-color:rgba(150, 150, 155, 0.15);
}

nav {
    background-color: rgba(4,4,88,0.75);
    animation-name: fade-in;
    animation-duration: 0.25s;
}

#text-div {
    order: 2;
    display: flex;
    flex-direction: column;
}

#headshot-div {
    order: 1;
    padding: 50px;
}

#name-div > p {
    color:rgba(9,9,121,1);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 5vw;
}

#social-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
}

#social-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    border-color: rgba(9,9,121,1);
    border-style: solid;
}

.social{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

#headshot {
    max-width: 100%;
    max-height: 100%;
    animation-name: fade-in;
    animation-duration: 1s;
}

.social > img {
    max-height: 20%;
    max-width: 20%;
    vertical-align: middle;
}

#summary-div {
    font-size: 4vw;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.6;
    max-width: 80%;
    align-self: center;
}

#social-icons > a{
    color: gray;
    text-decoration: none;
    font-size: 1em;
}

#mit {
    color: #f0c54f;
    text-decoration: none;
}

/* Desktop-view code begins here */
@media (min-width: 800px) {
    nav {
        transition: 0.3s;
    }

    nav:hover {
        background-color: rgba(4,4,88,1);
    }

    .navbar-brand {
        font-size: 30px;
    }

    #banner {
        font-size: 25px;
    }

    #view1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #view2 {
        flex-direction: column;
    }

    #headshot-div {
        animation-name: fade-in;
        animation-duration: 3s;
    }
    
    #text-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 65%;
    }
    
    #social-div {
        display: flex;
        align-self: flex-start;
    }
    
    #social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px;
    }

    #name-div {
        display: inline-flex;
        width: 80%;
        align-self: flex-start;
    }
    
    #headshot {
        max-width: 100%;
        max-height: 100%;
    }
    
    #social-icons > a{
        color: gray;
        text-decoration: none;
        transition: 0.3s;
        font-size: 1vw;
    }
    
    #social-icons > a:hover {
        background-color: rgb(4,4,88,0.1);
    }
    
    #name-div > p {
        font-size: 3vw;
        margin: 20px;
        animation-name: slide-up;
        animation-duration: 2.5s;
    }
    
    #summary-div {
        font-size: 1vw;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.1em;
        line-height: 1.6;
        max-width: 80%;
        align-self: flex-start;
    }

    .summary-text {
        margin: 20px;
    }

    #bitmoji {
        float: right;
    }

    #view2-text-parentDiv {
        padding-top: 150px;
        text-align: left;
        max-width: 80%;
    }
}

/* Animation code */
@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes slide-up {
    from {
        opacity: .25;
        line-height: 500px;
    }
    to {
        opacity: 1;
        line-height: 1.6em;
    }
}