body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

/* Containers */

#headshot-div {
    order: 1;
}

#text-div {
    order: 2;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#social-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.social{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

/* Elements */

#headshot {
    max-width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.social > img {
    max-height: 32px;
    max-width: 32px;
    vertical-align: middle;
}

#social-icons > a{
    color: gray;
    text-decoration: none;
}

#name {
    color: #040458;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 5em;
}

#summary {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2em;
}